body, html {
    height: 100vh;
}
body {
    font-family: 'Roboto Slab', serif;
}

#background {
    display: block;
    position: relative;
  }
  
  #background::after {
    content: "";
    background: url(../assets/images/0_LPBuQlCevvDRPKf4.jpg)no-repeat;
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1; 
  }

ul{
    list-style-type: none;
    padding: 0
}

ul li{
    display: inline-block;
}

#navbar{
    padding: 1em 0;
}

p{
    color: #007bff
}